---

---

/* Header Section */
.header-brand {
  margin-bottom: 0px;
  padding-bottom: 15px;
  background-color: transparent;
}

.site-description {
  color: #ffffff;
  text-align: center;
}

.navbar .navbar-brand{
    color: #ffffff;
}

.navbar a{
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link{
  color: #ffffff;
}

/*
.dropdown-menu{
	background-color: {{ site.featured-color }};
}
*/

body {
    margin: 10px;
    height: 100vh;
    font-family: sans-serif;
    color: white;
    background-image: linear-gradient(-20deg, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.future h1, .now h1 {
  text-align: center;
}

.now, .current-weather, .future, .footnote {
  padding-top: 50px;
}

.current-weather {
  text-align: center;
  border: 1px whitesmoke solid;
}

.daily-summary {
  padding-top: 5px;
  padding-bottom: 5px;
}

* Footer Section */
.footer{
    background-color:  transparent;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    padding: 5px 0px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #f3f3f3;
}

@media (max-width: 767px){
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media (min-width: 768px){
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
