body {
    height: 100vh;
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    font-family: sans-serif;
    color: white;
    text-align: center
}

.future {
  padding-top: 100px;
}

.current-summary h2, .degree h2 {
    font-size: 30px;
}
