html {
  background-image: linear-gradient(-20deg, #283c86 0%, #45a247 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* etc. */
}

body {
    margin: 10px;
    height: 100vh;
    background-color: transparent;
    font-family: sans-serif;
    color: white;
}

.now, .current-weather, .future, .footnote {
  padding-top: 100px;
}

.current-weather {
  text-align: center;
}

.daily-summary {
  padding-top: 5px;
  padding-bottom: 5px;

}

.current-summary h2, .degree h2 {
    font-size: 30px;
}
