<form action="https://formspree.io/mqkzdoro" method="POST">
  <div class="form-group">
    <input class="form-control" type="text" name="name" placeholder="Cuir a-steach d' ainm an seo" required><br/>
    <input class="form-control" type="text" name="email" placeholder="Cuir a-steach do sheòladh puist-d an seo" required><br/>
    <textarea class="form-control" type="text" name="content" rows="10" placeholder="Cuir a-steach do bhrath puist-d an seo" required></textarea><br/>
    <input class="form-control" type="hidden" name="_next" value="https://geidh.uk/thanks.html">
    <input class="form-control" type="hidden" name="_subject" value="Brath ùr bho leughadair Geidh.uk">
    <input class="form-control" type="text" name="_gotcha" style="display:none">
    <input class="form-control" type="submit" value="Cuir a-steach">
  </div>
</form>
