<!-- Set Viewport to match device width with 1:1px ratio -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Set Window/Tab Title -->
<title>
  {% if page.title == "Dachaigh" %}
  {{ site.title }} - {{ site.description }}
  {% else %}
  {{ page.title }} - {{ site.title }}
  {% endif %}
</title>

<!-- Description for search engine use -->
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

<!-- Load local CSS -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
