<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134945777-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134945777-2');
</script>

<!-- Set Viewport to match device width with 1:1px ratio -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Set Window/Tab Title -->
<title>
  {% if page.title == "Dachaigh" %}
  {{ site.title }} - {{ site.description }}
  {% else %}
  {{ page.title }} - {{ site.title }}
  {% endif %}
</title>

<!-- Description for search engine use -->
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

<!-- Web app icons -->
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ site.featured-color }}">
<meta name="apple-mobile-web-app-title" content="Geidh.uk">
<meta name="application-name" content="Geidh.uk">
<meta name="msapplication-TileColor" content="{{ site.featured-color }}">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="{{ site.featured-color }}">

<!-- News RSS Feed -->
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/naidheachdan-rss.xml" />

<!-- Load Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- Load Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- Load Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<!-- Load local CSS -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

<!-- Meta data for Facebook Open Graph -->
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ post.url }}" />
<meta property="og:image" content="{{ page.image }}" />
